<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navbar-brand" aria-current="page" routerLink="/gestion-personas">Personas</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" routerLink="/gestionar-tipo-ident">Identificación</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
  <h2> Gestion Estados</h2>
</div>
<div class="container">
  <div>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="row g-3" novalidate>

      <div class="col-md-5">
        <div class="container">
          <label for="CODIGO" class="form-label" >Codigo Estado</label>
          <input class="form-control" formControlName="CODIGO" id="CODIGO" type="text" placeholder="Codigo" required/>
        </div>    
      </div>
      <div class="col-8">
        <button class="btn btn-primary">Buscar</button>
      </div>

    </form>
  </div>

  <div class="container">
    <button class="btn btn-success" (click)="agregarEstado()">Agregar Estado</button>
  </div>
  
  <div class="container">

    <table class="table table-striped">
        <tr>
            <th>CODIGO</th>
            <th>NOMBRES</th>
            <th>USUARIO CREACION</th>
            <th>FECHA CREACION</th>
            <th>USUARIO MODIFICACION</th>
            <th>FECHA MODIFICACION</th>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let estado of estados">
            <td class="column">{{estado.codigo}}</td>
            <td>{{estado.nombre}}</td>
            <td>{{estado.usuarioCreacion}}</td>
            <td>{{estado.fechaCreacion}}</td>
            <td>{{estado.usuarioModificacion}}</td>
            <td>{{estado.fechaModificacion}}</td>
            <td><button class="btn btn-primary btn-sm" (click)="editarEstado(estado)">Editar</button></td> 
            <td><button class="btn btn-danger btn-sm" (click)="eliminarEstado(estado)">Eliminar</button></td> 
            
        </tr>
    </table>
    <div *ngIf="mostrar" class="alert alert-success" role="alert">
      El registro fue eliminado con exito
    </div>

  </div>
  
</div>

