<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="container">

      <div class="fadeIn first">
        <h5 class="card-title">Inicio Sesión</h5>
      </div>
  
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div>
            <input class="fadeIn second" formControlName="usuario" id="usuario" type="text" placeholder="Usuario" />
          </div>
          
          <input class="fadeIn third" formControlName="password" id="password" type="password" placeholder="Contraseña" />
          <div>
              <button class="btn btn-info btn-lg">Ingresar</button>
          </div>
      </form>
      
    </div>
    

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Se olvido de la contraseña?</a>
    </div>

  </div>
</div>
