<div>
  <h2>Editar Tipo Identificación</h2>
</div>
<div class="container">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="row g-2" novalidate>

      <div>
          <label class="form-label">Codigo</label>
          <input readonly class="form-control" formControlName="codigo" id="codigo" type="text" placeholder="Codigo" required>
          <div *ngIf="this.editForm.get('codigo').invalid && (this.editForm.get('codigo').dirty || this.editForm.get('codigo').touched)">
            <div *ngIf="this.editForm.get('codigo').errors.required" class="error">
            El campo Codigo es requerido
            </div>
          </div>
      </div>
      <div>
          <label class="form-label">Nombre</label>
          <input class="form-control" formControlName="nombre" id="nombre" type="text" placeholder="Nombres" required>
          <div *ngIf="this.editForm.get('nombre').invalid && (this.editForm.get('nombre').dirty || this.editForm.get('nombre').touched)">
            <div *ngIf="this.editForm.get('nombre').errors.required" class="error">
            El campo Nombre es requerido
            </div>
          </div>
      </div>
      <div>
          <button class="btn btn-success">Guardar</button>
      </div>
  </form>
</div>
