<div>
    <h2>Editar Persona</h2>
  </div>
  <div class="container">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="row g-3" novalidate>
  
        <div class="col-md-4">
            <label class="form-label">Codigo</label>
            <input class="form-control" formControlName="codigo" id="codigo" type="text" placeholder="Codigo" required>
            <div *ngIf="this.editForm.get('codigo').invalid && (this.editForm.get('codigo').dirty || this.editForm.get('codigo').touched)">
              <div *ngIf="this.editForm.get('codigo').errors.required" class="error">
              El campo Codigo es requerido
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label">Nombres</label>
            <input class="form-control" formControlName="nombre" id="nombre" type="text" placeholder="Nombres" required>
            <div *ngIf="this.editForm.get('nombre').invalid && (this.editForm.get('nombre').dirty || this.editForm.get('nombre').touched)">
              <div *ngIf="this.editForm.get('nombre').errors.required" class="error">
              El campo Nombre es requerido
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label">Apellidos</label>
            <input class="form-control" formControlName="apellido" id="apellido" type="text" placeholder="Apellidos" required>
        </div>
        <div class="col-md-4">
            <label class="form-label">Fecha de Nacimiento</label>
            <input class="form-control" formControlName="fechaNacimiento" id="fechaNacimiento" type="text" placeholder="Fecha Nacimiento" />
        </div>
        <div class="col-md-4">     
            <label class="form-label">User</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input class="form-control" formControlName="userName" id="userName" type="text" placeholder="User" aria-describedby="inputGroupPrepend" required>
            </div>      
        </div>
        <div class="col-md-4">     
            <label class="form-label">Contraseña</label>
            <input class="form-control" formControlName="password" id="password" type="text" placeholder="Contraseña" />     
        </div>
        <div class="col-md-4">     
            <label class="form-label">Identificacion</label>
            <input class="form-control" formControlName="identificacion" id="identificacion" type="text" placeholder="Identificación" />     
        </div>
        <div class="col-md-4">     
            <label class="form-label">Codigo Identificacion</label>
            <input class="form-control" formControlName="codiTipoIdentificacion" id="codiTipoIdentificacion" type="text" placeholder="Codigo Identificacion" />     
         </div>
         <div class="col-md-4">     
              <label class="form-label">Codigo Estado</label>
              <input class="form-control" formControlName="codigoEstado" id="codigoEstado" type="text" placeholder="Codigo Estado" />     
          </div>
          <div>
              <button class="btn btn-success">Guardar</button>
          </div>
    </form>
  </div>
  