<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navbar-brand" aria-current="page" routerLink="/gestionar-estado">Estados</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" routerLink="/gestionar-tipo-ident">Identificación</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
  <h2> Gestión Personas</h2>
</div>
<div class="container">
  <div>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="row g-3" novalidate>

      <div class="col-md-5">
        <div class="container">
          <label for="CODIGO" class="form-label" >Codigo de Persona</label>
          <input class="form-control" formControlName="CODIGO" id="CODIGO" type="text" placeholder="Codigo" required/>
        </div>    
      </div>
      <div class="col-8">
        <button class="btn btn-primary">Buscar</button>
      </div>

    </form>
  </div>

  <div class="container">
    <button class="btn btn-success" (click)="agregarPersona()">Agregar Persona</button>
  </div>
  
  <div class="container">

    <table class="table">
        <tr class="table-dark">
            <th>CODIGO</th>
            <th>NOMBRES</th>
            <th>APELLIDOS</th>
            <th>FECHA NACIMIENTO</th>
            <th>USER</th>
            <th>CONTRASENA</th>
            <th>IDENTIFICACION</th>
            <th>CODIGO IDENTIFICACION</th>
            <th>CODIGO ESTADO</th>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let persona of personas">
            <td class="column">{{persona.codigo}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellido}}</td>
            <td>{{persona.fechaNacimiento}}</td>
            <td>{{persona.userName}}</td>
            <td>{{persona.password}}</td>
            <td>{{persona.identificacion}}</td>
            <td>{{persona.codiTipoIdentificacion}}</td>
            <td>{{persona.codigoEstado}}</td>
            <td>
               <div class="container">
                <button class="btn btn-primary btn-sm" (click)="editarPersona(persona)">Editar</button>
               </div>
            </td>
            <td>
               <div class="container">
                <button class="btn btn-danger btn-sm" (click)="eliminarPersona(persona)">Eliminar</button>
               </div> 
            </td>
        </tr>
    </table>
    <div *ngIf="mostrar" class="alert alert-success" role="alert">
      El registro fue eliminado con exito
    </div>

  </div>
  
</div>
