<div>
  <h2>Agregar Tipo Identificación</h2>
</div>
<div class="container">
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="row g-2" novalidate>
      <div>
          <label class="form-label">Nombre</label>
          <input class="form-control" formControlName="nombre" id="nombre" type="text" placeholder="Nombres" required>
          <div *ngIf="this.addForm.get('nombre').invalid && (this.addForm.get('nombre').dirty || this.addForm.get('nombre').touched)">
            <div *ngIf="this.addForm.get('nombre').errors.required" class="error">
            El campo Nombre es requerido
            </div>
          </div>
      </div>
      <div>
          <button class="btn btn-success">Guardar</button>
      </div>
  </form>
</div>


